@import 'variables';


.wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: $huge-spacing;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 3%;
}

.keyboard-access {
  position: absolute;
  top: 0;
  width: 400px;
  transform: translateY(-100px);


  &.is-active {
    transform: translateY(0);
  }
}

.current-day {
  width: $current-day-width;
  max-width: $current-day-width;
  padding: $large-spacing;
  color: $white;
  background-color: $calendar-red;
}

.calendar {


  width: $calendar-width;
  padding: $large-spacing;
}
