@import 'variables';


.wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 3%;

  &.keyboard-access-open {
    padding-top: $extra-huge-spacing;
  }
}

.keyboard-access {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  height: $extra-huge-spacing;
  top: 0;
  transform: translateY(-100px);


  &.is-active {
    transform: translateY(0);
  }
}

.current-day {
  display: flex;
  flex-direction: column;
  width: $current-day-width;
  max-width: $current-day-width;
  padding: $large-spacing;
  color: $white;
  background-color: $calendar-red;
}

.calendar {
  width: $calendar-width;
  padding: $large-spacing;
}
