<div class="wrapper">
  <div class="keyboard-access" [class.is-active]="keyboardAccess">
    <button *ngIf="!showKeyboardAccess" type="button">Use keyboard to set date ?</button>
    <app-keyboard-access (setDate)="setDate('date', $event)" *ngIf="showKeyboardAccess" [allMonths]="allMonths"
                         [currentDay]="currentDay" [currentMonth]="currentMonth"
                         [currentYear]="currentYear" [numberOfDayInMonth]="numberOfDayInMonth"></app-keyboard-access>
  </div>
  <div class="current-day">
      <app-day [currentDayName]="currentDayName" [currentDayNbr]="currentDay"></app-day>
      <app-calendar-event (deleteCalendarEvent)="deleteEvent($event)" [currentDate]="currentDate"
                          [events]="events?.result"></app-calendar-event>
      <app-add-event (addCalendarEvent)="addEvent($event)" *ngIf="!loadingEvent"></app-add-event>
      <div *ngIf="loadingEvent">
        Posting Event...
      </div>
   </div>
   <div class="calendar">
     <app-year (setYear)="setDate('year', $event)"
               [currentYear]="currentYear"></app-year>
     <app-months (setMonth)="setDate('month', $event)"
                 [allMonths]="allMonths"
                 [currentMonth]="currentMonth"></app-months>
     <app-days (setDay)="setDate('date', $event)"
               [currentDay]="currentDay"
               [currentMonth]="currentMonth"
               [rows]="rows"
               [weekDayShort]="weekDayShort"></app-days>
   </div>
</div>

