
<div class="calendar">
  <div>
    <app-day [currentDayNbr]="currentDay" [currentDayName]="currentDayName"></app-day>
  </div>
  <div>
    <app-year [currentYear]="currentYear" (setYear)="setDate('SET_YEAR', $event)"></app-year>
    <app-months [currentMonth]="currentMonth" [allMonths]="allMonths" (setMonth)="setDate('SET_MONTH', $event)"></app-months>
    <app-days [weekDayShort]="weekDayShort" [currentDay]="currentDay" [rows]="rows" (setDay)="setDate('SET_DAY', $event)"></app-days>
  </div>
</div>
