<div>
  <div *ngIf="currentEvents && currentEvents.length > 0">
    <span>Current Events</span>
    <ul class="event-list">
      <li class="event" *ngFor="let event of currentEvents">
        <span>{{event.text}}</span>
        <button (click)="deleteCalendarEvent.emit(event)" [disabled]="loadingEvent" title="delete this event">X</button>
      </li>
    </ul>
  </div>
  <div *ngIf="currentEvents && currentEvents.length === 0">
    <span>No event for the day.</span>
  </div>
  <div *ngIf="!currentEvents">
    Loading...
  </div>
</div>

