
$calendar-red: rgb(235 54 79);
$calendar-lilla: rgb(80 27 223);

$white: rgb(255 255 255);
$lighter-gray: rgb(222 222 222);
$light-gray: rgb(156 156 156);
$gray: rgb(99 99 99);
$black: rgb(43 42 46);


